
<html>
  <body  class= "account-body">
    <%= link_to("<< Back to List", accounts_path(id: @account.profile_id), :class => 'back-link') %>

    <div class="account-content">
      <h2 class="text-center account-title" >View Account</h2>
      <div class = "account-form-div">
          <table summary="Account detail view" class = 'account-text account-form'>
            <tr>
              <th>Account ID: </th>
              <td><%= @account.id %></td>
            </tr>

            <tr>
                <th>Account Balance: </th>
                <td><%= @account.amount %></td>
            </tr>

            <tr>
                <th>Type: </th>
                <td><%= @account.account_type %></td>
            </tr>

          </table>
      </div>
    </div>
  <body>
</html>
