<%= render(:partial => 'backToList') %>

<div class="transaction_new">
    <h1>Add Transactions</h1>

    <% if current_user.admin %>
        <%= form_for(@transaction, :url => transactions_path, :method => 'post') do |f| %>

            <%= render(:partial => 'form', :locals => {:f => f}) %>

            <div>
                <%= f.submit("Add Transaction", :id => "submitBtn") %>
            </div>

        <% end %>
    <% else %>
        <h3>Cannot edit transation history!!</h3>
    <% end %>
  
</div>