// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

//only use for cross site theming
//* {
//    font-family: 'Lato', sans-serif;
//   color: rgb(204, 204, 204);
//}

.wrapLogin {
    height:100%;
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 100px 70px 60px 70px;
  
    background: #043d22;
    background: -webkit-linear-gradient(top, #83cc58, rgb(3, 53, 29)); //currently broken :(
    background: -o-linear-gradient(top, #83cc58, rgb(3, 53, 29));
    background: -moz-linear-gradient(top, #83cc58, rgb(3, 53, 29));
    background: linear-gradient(top, #83cc58, rgb(3, 53, 29));
}

.container-fluid { 
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    background-image: url("/images/backgroundLake.jpg");
    background-size: cover; 
    width: 100%;
    height: 100%;
    padding: 100px 70px 400px 70px;
}